<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Niraj Chittodiya- Web developer,Programmer</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="container">
    <div class="sidebar sidebarGo">
        
        <nav><ul>
            <li><a href="/">Home</a></li>
            <li><a href="/intro">Intro</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/blog">blog</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul></nav>
    </div>
    <div class="main">
        <div class="hamburger">
            <img src="../static/img/ham.png" alt="" class="ham" width="28px">
            <img src="../static/img/cross.png" alt="" class="cross" width="28px">
        </div>
       <div class="infocontainer">
           <div class="devInfo">
                <div class="hello">Hi I am</div>
                <div class="name">Niraj Chittodiya</div>
                <div class="about">Developer, Web Designing Enthusiast</div>
                <div class="moreabout">Hi I'm a developer and I love to do coding, My hobby is to reading Spiritual Books<div class="lapt">Best Viewed in laptop or desktop (desktop mode)</div></div>
                <div class="buttons">
                    <a href="/static/Niraj-Resume.pdf"><button class="btn">Download Resume</button></a>
                    <a href="/contact"><button class="btn">Contact Me</button></a>
                </div>
           </div>
           <div class="devpic">
                <img src = "../static/img/Me.jpg" alt="Niraj Chittodiya's Image">
           </div>
       </div>
    </div>
</div>
<script src="../static/index.js"></script>
</body>
</html>