<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services Provided by Me</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
    <div class="sidebar">
        
        <nav><ul>
            <li><a href="/">Home</a></li>
            <li><a href="/intro">My intro</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/blog">blog</a></li>
            <li><a href="/contact">Contact me</a></li>
        </ul></nav>
    </div>
    <div class="main">
        <div class="hamburger">
            <img src="ham.png" alt="" class="ham" width="28px">
            <img src="cross.png" alt="" class="cross" width="28px">
        </div>
       <div class="infocontainer">
           <div class="devInfo">
                <div class="hello">Hi</div>
                <div class="name">Services</div>
                <div class="about">Provided By me are</div>
                <div class="moreabout">Website Designing, debugging, software development, Social Media Handeling</div>
                <div class="buttons">
                    <button class="btn btn-sm">Download Resume</button>
                    <button class="btn btn-sm">Contact me</button>
                </div>
           </div>
           <div class="devpic">
                <img src = "/img/Me.jpg" alt="Niraj Chittodiya">
           </div>
       </div>
    </div>
</div>
<script src="/static/index.js"></script>
</body>
</html>